<!--
/**
 * @Info        HK2 CSP Whitelisting
 * @author      Basant Mandal - HK2
 * @copyright   Copyright (c) 2022 Basant Mandal - HK2 
 * @package     HK2_Csp
 * @version     1.0.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="HK2_Csp" setup_version="1.0.0"/>
</config>